<section class="relative h-screen flex items-center" id="home">
  <div class="background"></div>
  <div class="container mx-auto px-4 relative z-10 flex flex-col md:flex-row items-center justify-between">
    <div class="md:w-1/2 space-y-6">
      <h1 class="text-5xl md:text-7xl font-bold tracking-tighter">
        <span class="text-red-500">開発者</span>
        <span class="block mt-2">Ignacio</span>
        <span class="block mt-1 text-3xl md:text-5xl">{{ 'home.title' | transloco }}</span>
      </h1>
      <p class="text-lg text-zinc-400 max-w-md">
        {{ 'home.description' | transloco }}
      </p>
      <div class="flex gap-4">
        <a href="#projects" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-md">{{ 'home.buttonProjects' | transloco }}</a>
        <a href="#contact" class="border-red-500 text-red-500 hover:bg-red-950 hover:text-white px-4 py-2 rounded-md border">
          {{ 'home.buttonContact' | transloco }}
        </a>
      </div>
    </div>
    <div class="mt-10 md:mt-0 md:w-1/2 flex justify-center">
      <div class="relative w-64 h-64 md:w-80 md:h-80">
        <div class="absolute inset-0 border-2 border-red-500 rounded-md transform rotate-6"></div>
        <div class="absolute inset-0 bg-zinc-900 rounded-md overflow-hidden">
          <!-- <img
            src="assets/placeholder.png"
            alt="Profile"
            class="object-cover"
          /> -->
        </div>
      </div>
    </div>
  </div>
  <app-vertical-text text="エンジニア"
  class="absolute right-4 top-1/2 -translate-y-1/2 text-zinc-800 text-8xl font-bold"/>
</section>