<header class="fixed top-0 left-0 right-0 z-50 transition-all duration-300 px-8"
  [ngClass]="scrolled ? 'bg-zinc-900/95 backdrop-blur-sm shadow-md' : 'bg-transparent'">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between h-16">
      <a href="#home" class="flex items-center space-x-2">
        <div class="w-8 h-8 bg-red-500 rounded-sm flex items-center justify-center">
          <span class="text-white font-bold">運</span>
        </div>
        <span class="text-xl font-semibold tracking-tight text-white">Nacho</span>
      </a>

      <!-- Desktop header -->
      <div class="hidden md:flex md:items-center">
        <nav class="flex space-x-8 mr-6">
          @for (item of navItems; track $index) {
          <a href={{item.href}}
            class="group relative flex flex-col items-center text-sm font-medium text-zinc-300 hover:text-white transition-colors">
            <span class="text-red-500 mb-0.5">{{item.japaneseLabel}}</span>
            <span>{{ item.label | transloco }}</span>
            <span
              class="absolute -bottom-1 left-0 w-0 h-0.5 bg-red-500 transition-all duration-300 group-hover:w-full"></span>
          </a>
          }
        </nav>

        <!-- Lang selector - Desktop -->
        <app-lang-selector />
      </div>
      <div class="md:hidden flex items-center space-x-2">
        <app-lang-selector />
        <button class="text-zinc-300 hover:text-white" aria-label="Toggle menu" (click)="manageDrawer()">
          @if (isOpen) {
            <fa-icon [icon]="faX"></fa-icon>
          } @else {
            <fa-icon [icon]="faBars"></fa-icon>
          }
        </button>
      </div>
    </div>
  </div>

  @if (isOpen) {
  <div class="md:hidden bg-zinc-900/95 backdrop-blur-sm">
    <div class="container mx-auto px-4 py-4">
      <nav class="flex flex-col space-y-4">
        @for (item of navItems; track $index) {
        <a href={{item.href}}
          class="flex items-center space-x-3 py-2 px-4 rounded-md hover:bg-zinc-800 transition-colors"
          (click)="manageDrawer()">
          <span class="w-6 h-6 bg-red-500/20 rounded-full flex items-center justify-center text-red-500">
            {{item.japaneseLabel}}
          </span>
          <span>{{ item.label | transloco }}</span>
        </a>
        }
      </nav>
    </div>
  </div>
  }
</header>